# submodules used by ASI Saga
# changes would be pushed to the respective repositories

# Website submodules
[submodule "theme.asisaga.com"]
	path = Website/theme.asisaga.com
	url = https://github.com/ASISaga/theme.asisaga.com

[submodule "www.asisaga.com"]
	path = Website/www.asisaga.com
	url = https://github.com/ASISaga/www.asisaga.com

[submodule "realmofagents.asisaga.com"]
	path = Website/realmofagents.asisaga.com
	url = https://github.com/ASISaga/realmofagents.asisaga.com

[submodule "saga.asisaga.com"]
	path = Website/saga.asisaga.com
	url = https://github.com/ASISaga/saga.asisaga.com

[submodule "businessinfinity.asisaga.com"]
	path = Website/businessinfinity.asisaga.com
	url = https://github.com/ASISaga/businessinfinity.asisaga.com

[submodule "genesis.asisaga.com"]
	path = Website/genesis.asisaga.com
	url = https://github.com/ASISaga/genesis.asisaga.com

[submodule "aurelion.asisaga.com"]
	path = Website/aurelion.asisaga.com
	url = https://github.com/ASISaga/aurelion.asisaga.com

# Realm of Agents submodules
[submodule "FineTunedLLM"]
	path = RealmOfAgents/FineTunedLLM
	url = https://github.com/ASISaga/FineTunedLLM

[submodule "PurposeDrivenAgent"]
	path = RealmOfAgents/PurposeDrivenAgent
	url = https://github.com/ASISaga/PurposeDrivenAgent

[submodule "GitHubAgent"]
	path = RealmOfAgents/GitHubAgent
	url = https://github.com/ASISaga/GitHubAgent

[submodule "SelfLearningAgent"]
	path = RealmOfAgents/SelfLearningAgent
	url = https://github.com/ASISaga/SelfLearningAgent

[submodule "AgentOperatingSystem"]
	path = RealmOfAgents/AgentOperatingSystem
	url = https://github.com/ASISaga/AgentOperatingSystem

[submodule "mcp.asisaga.com"]
	path = mcp.asisaga.com
	url = https://github.com/ASISaga/mcp.asisaga.com

# Business Infinity submodules
[submodule "BusinessInfinity"]
	path = BusinessInfinity
	url = https://github.com/ASISaga/BusinessInfinity


# Manas document store submodules
[submodule "Manas"]
	path = Manas
	url = https://github.com/ASISaga/Manas.git

# Buddhi submodules

[submodule "Entrepreneur"]
	path = Buddhi/Entrepreneur
	url = https://github.com/ASISaga/Entrepreneur

[submodule "Leader"]
	path = Buddhi/Leader
	url = https://github.com/ASISaga/Leader

[submodule "Seeker"]
	path = Buddhi/Seeker
	url = https://github.com/ASISaga/Seeker

[submodule "Marketeer"]
	path = Buddhi/Marketeer
	url = https://github.com/ASISaga/Marketeer

[submodule "Investor"]
	path = Buddhi/Investor
	url = https://github.com/ASISaga/Investor
