# submodules used by RealmOfAgents
# changes would be pushed to the respective repositories

[submodule "common.asisaga.com"]
	path = common.asisaga.com
	url = https://github.com/ASISaga/common.asisaga.com

[submodule "businessinfinity.asisaga.com"]
	path = Website/businessinfinity.asisaga.com
	url = https://github.com/ASISaga/businessinfinity.asisaga.com

[submodule "www.asisaga.com"]
	path = Website/www.asisaga.com
	url = https://github.com/ASISaga/www.asisaga.com

[submodule "GitHubAgent"]
	path = GitHubAgent
	url = https://github.com/ASISaga/GitHubAgent

[submodule "BusinessInfinity"]
	path = BusinessInfinity
	url = https://github.com/ASISaga/BusinessInfinity

[submodule "PurposeDrivenAgent"]
	path = PurposeDrivenAgent
	url = https://github.com/ASISaga/PurposeDrivenAgent


[submodule "AgentOperatingSystem"]
	path = AgentOperatingSystem
	url = https://github.com/ASISaga/AgentOperatingSystem

[submodule "FineTunedLLM"]
	path = FineTunedLLM
	url = https://github.com/ASISaga/FineTunedLLM

[submodule "RealmOfAgents"]
	path = RealmOfAgents
	url = https://github.com/ASISaga/RealmOfAgents
